/* --- TAGS ---------------------------------------------------------------- */
* { box-sizing: border-box; }

html, body
    {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background:
        url('http://unsplash.s3.amazonaws.com/batch%2011/converse-fields.jpg')
        #EEE no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font: 14px Merriweather, serif;
    }

a
    {
    color: #000;
    }

ul
    {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

pre>code
    {
    position: relative;
    left: -10px;
    width: 500px;
    white-space: pre-wrap;
    }

/* --- LAYOUT -------------------------------------------------------------- */

.container
    {
    width: 500px;
    margin: 0 auto;
    }

.container-left
    {
    width: 600px;
    float: left;
    }

.container-right
    {
    width: 200px;
    margin-left: 302px;
    }

.block
    {
    width: 100%;
    margin: 0 0 20px 0;
    }

.block-header
    {
    clear: both;
    }

.block-header a
    {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin: 0 auto;
    }

.footer
    {
    color: #000;
    text-align: center;
    font: 20px 'Poiret One';
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    margin: 0;
    }

.footer a
    {
    color: #000;
    }

/* --- CONTENT ------------------------------------------------------------- */

.logo
    {
    background: transparent;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    }

.logo a
    {
    text-decoration: none;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    color: #FFF;
    }

.logo .title
    {
    font-size: 48px;
    font-weight: bold;
    display: block;
    }

.logo .subtitle
    {
    font-size: 24px;
    display: block;
    }

.pages
    {
    display: table;
    width: 100%;
    table-layout: fixed;
    }

.pages li
    {
    display: table-cell;
    text-align: center;
    margin: 0;
    }

.pages li a
    {
    display: block;
    padding: 10px 0;
    text-align: center;
    background: transparent;
    text-decoration: none;
    color: #FFF;
    font: 16px 'Poiret One';
    font-weight: bold;
    }

.pages li a:hover
    {
    background: rgba(255, 255, 255, 0.3);
    color: #FFF;
    }

.pages li input
    {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: none;
    margin: 0;
    font-size: 14px;
    font-family: Merriweather, serif;
    background: transparent;
    color: #FFF;
    }

.pages li input::-webkit-input-placeholder { color: #FFF; font: 16px 'Poiret One'; font-weight: bold; }
.pages li input:-moz-placeholder { color: #FFF; opacity:  1; }
.pages li input::-moz-placeholder { color: #FFF; opacity:  1; }
.pages li input:-ms-input-placeholder { color: #FFF; }

.pages li input:focus
    {
    background: #FFF;
    outline: none;
    color: #000;
    }

.post
    {
    text-align: justify;
    }

.post img
    {
    float: left;
    margin: 0 10px 10px 0;
    }

.post .post-header
    {
    font: 36px 'Poiret One';
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
    }

.post .post-header-image
    {
    height: 50px;
    background-size: 30%;
    background-position: 50% 50%;
    }

.post .post-header a
    {
    vertical-align: middle;
    padding: 10px;
    color: #FFF;
    }

.post .post-content
    {
    padding: 10px;
    background: #FFF;
    }

.post .post-content p
    {
    margin: 10px 0;
    }

.post .post-info
    {
    clear: both;
    display: table;
    table-layout: fixed;
    font-size: 10px;
    min-height: 40px;
    }

.post .post-info div
    {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: #FFF;
    }

.post .post-info .date
    {
    width: 100px;
    /*background: rgba(255, 255, 255, 0.6);*/
    font: 14px 'Poiret One';
    font-weight: bold;
    }

.post .post-info .tags
    {
    width: 380px;
    /*background: rgba(255, 255, 255, 0.9);*/
    }

.post .post-info .tags a
    {
    text-decoration: none;
    }

.post .post-info .category
    {
    width: 100px;
    /*background: rgba(255, 255, 255, 0.6);*/
    }

.post .post-info .category a
    {
    text-decoration: none;
    font: 14px 'Poiret One';
    font-weight: bold;
    display: block;
    padding: 13px 0;
    }

.post .post-info .category a:hover
    {
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    }

.widget
    {
    padding: 10px;
    background: #FFF;
    }

/* --- WORDPRESS ----------------------------------------------------------- */

.container-right ul ul
    {
    margin-left: 20px;
    }