/* --- TAGS ---------------------------------------------------------------- */
* { box-sizing: border-box; }

html, body
    {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background:
        url('http://unsplash.s3.amazonaws.com/batch%2011/converse-fields.jpg')
        #EEE no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font: 16px 'PT Sans';
    }

a
    {
    color: #000;
    text-decoration: none;
    outline: none;
    }

a:hover
    {
    text-decoration: underline;
    }

pre>code
    {
    position: relative;
    left: -10px;
    width: 500px;
    white-space: pre-wrap;
    font: 14px monospace;
    }

h1, h2, h3, h4
    {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    }

blockquote
    {
    background: #333;
    color: #FFF;
    display: block;
    margin: 0;
    padding: 10px;
    position: relative;
    left: -10px;
    width: 500px;
    font-style: italic;
    }

/* --- LAYOUT -------------------------------------------------------------- */

.container
    {
    width: 500px;
    margin: 0 auto;
    }

.container-left
    {
    width: 600px;
    float: left;
    }

.container-right
    {
    width: 200px;
    margin-left: 302px;
    }

.block
    {
    width: 100%;
    margin: 0 0 20px 0;
    }

.block-header
    {
    clear: both;
    }

.block-header a
    {
    display: block;
    color: #000;
    text-align: center;
    margin: 0 auto;
    }

.block-header a:hover
    {
    text-decoration: none;
    }

.footer
    {
    text-align: center;
    font: 16px 'Poiret One';
    font-weight: bold;
    background: #FFF;
    padding: 10px 0;
    margin: 0;
    }

.footer a
    {
    }

/* --- CONTENT ------------------------------------------------------------- */

.logo
    {
    background: transparent;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    }

.logo a
    {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    color: #FFF;
    }

.logo a:hover
    {
    text-decoration: none;
    }

.logo .title
    {
    font-size: 48px;
    font-weight: bold;
    display: block;
    }

.logo .subtitle
    {
    font-size: 24px;
    display: block;
    }

.pages
    {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

.pages li
    {
    display: table-cell;
    text-align: center;
    margin: 0;
    }

.pages li a
    {
    display: block;
    padding: 10px 0;
    text-align: center;
    background: transparent;
    color: #FFF;
    font: 16px 'Poiret One';
    font-weight: bold;
    }

.pages li a:hover
    {
    background: rgba(255, 255, 255, 0.3);
    color: #FFF;
    text-decoration: none;
    }

.pages li input
    {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: none;
    margin: 0;
    font: 16px 'Poiret One';
    background: transparent;
    font-weight: bold;
    color: #FFF;
    }

.pages li input::-webkit-input-placeholder { color: #FFF; font: 16px 'Poiret One'; font-weight: bold; }
.pages li input:-moz-placeholder { color: #FFF; opacity:  1; }
.pages li input::-moz-placeholder { color: #FFF; opacity:  1; }
.pages li input:-ms-input-placeholder { color: #FFF; }

.pages li input:hover
    {
    background: rgba(255, 255, 255, 0.3);
    }

.pages li input:focus
    {
    background: #FFF;
    outline: none;
    color: #000;
    }

.post
    {
    text-align: justify;
    }

.post img
    {
    float: left;
    margin: 0 10px 10px 0;
    }

.post .post-header
    {
    height: 150px;
    min-height: 150px;
    font: 36px 'Poiret One';
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    }

.post .post-header-image
    {
    background-size: 30%;
    background-position: 50% 50%;
    }

.post .post-content
    {
    padding: 10px;
    background: #FFF;
    }

.post-content a
    {
    background: #CCC;
    padding: 0 10px;
    font-style: italic;
    }

.post-content a:hover
    {
    background: #999;
    }

.post .post-content p
    {
    margin: 10px 0;
    text-indent: 2em;
    }

.post .post-content p:first-child, .post .post-content p:last-child
    {
    margin: 0;
    text-indent: 2em;
    }

.post .post-info
    {
    clear: both;
    display: table;
    table-layout: fixed;
    font-size: 11px;
    min-height: 40px;
    border-top: 1px solid #999;
    }

.post .post-info div
    {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: #EEE;
    }

.post .post-info .tags
    {
    width: 400px;
    padding: 0 10px;
    }

.post .post-info .category
    {
    width: 100px;
    }

.post .post-info .category ul
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.post .post-info .category a
    {
    font: 14px 'Poiret One';
    font-weight: bold;
    display: block;
    padding: 13px 0;
    }

.comments
    {
    text-align: justify;
    }

.comments .comments-header
    {
    height: 150px;
    min-height: 150px;
    font: 36px 'Poiret One';
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    }

.comments .comments-content
    {
    }

.comments ul
    {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

.comments ul li
    {
    background: #FFF;
    border-top: 1px solid #999;
    padding: 10px;
    }

/* --- WORDPRESS ----------------------------------------------------------- */

.container-right ul ul
    {
    margin-left: 20px;
    }